update Retail..RabbitMQServers set host='a-r10-rmqd-{{hqenv}}-chq-{{envtype}}.{{storedomain}}' where ConnectionName='Parent'
update Retail..RabbitMQServers set host='a-r10-rmqc-{{hqenv}}-chq-{{envtype}}.{{storedomain}}' where ConnectionName='ParentColdStart'
update Retail..RabbitMQServers set host='a-r10-rmqd-{{hqenv}}-chq-{{envtype}}.{{storedomain}}' where ConnectionName='ParentDownload'
update Retail..RabbitMQServers set host='a-r10-rmqu-{{hqenv}}-chq-{{envtype}}.{{storedomain}}' where ConnectionName='ParentUpload'
update retail.dbo.ConfigurationEntry set DefaultValue='a-r10-dms-{{hqenv}}-chq-lb-{{envtype}}.{{storedomain}}' where entry='ParentQueueServiceAddress'
update retail.dbo.ConfigurationEntry set DefaultValue='a-r10-dms-{{hqenv}}-chq-lb-{{envtype}}.{{storedomain}}' where entry='WCFClientIP'
update retail.dbo.ConfigurationEntry set DefaultValue='https://a-r10-dms-{{hqenv}}-chq-lb-{{envtype}}.{{storedomain}}:443/StoreWebServices' where entry='HqUrl'
update retail.dbo.ConfigurationEntry set DefaultValue='https://a-r10-dms-{{hqenv}}-chq-lb-{{envtype}}.{{storedomain}}:443/StoreWebServices' where entry='ParentUrl'
update retail.dbo.ConfigurationEntry set DefaultValue='https://a-r10-dms-{{hqenv}}-chq-lb-{{envtype}}.{{storedomain}}:443/StoreWebServices' where entry='ParentUri'